@import 'reset';
@import '../../node_modules/swiper/swiper-bundle';


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CraftworkGrotesk';
  src: url('../fonts/CraftworkGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/CraftworkGrotesk-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CraftworkGrotesk';
  src: url('../fonts/CraftworkGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/CraftworkGrotesk-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'CraftworkGrotesk';
  src: url('../fonts/CraftworkGrotesk-SemiBold.woff2') format('woff2'),
    url('../fonts/CraftworkGrotesk-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'CraftworkGrotesk';
  src: url('../fonts/CraftworkGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/CraftworkGrotesk-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

body {
  background-color: #dde5e5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 1.4;
}

main {
  background-color: #fff;
}

.container {
  padding: 1px;
  max-width: 1602px;
  margin: 0 auto;

  @media(max-width:1650px) {
    max-width: 728px;
  }

  @media(max-width:768px) {
    max-width: 375px;
    padding: 0;
  }
}

.header {
  background: #dde5e5;
  background-color: #fff;
  border-radius: 0 0 50px 50px;

  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    height: 59px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &_mobile {
      
    }
  }

  &__list-item {
    position: relative;
    padding: 25px 0;
    height: 80px;

    &>ul {
      position: absolute;
      top: 80px;
      left: 0;
      background: #fff;
      padding: 30px 20px;
      border-radius: 35px;
      display: none;
      flex-direction: column;
      gap: 4px;
    }

    &:hover {
      & .chevron {
        transform: rotate(180deg);
        transition: .3s ease-in-out;
      }

      &>ul {
        display: flex;
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }

  &__sublist-item {
    white-space: nowrap;
  }
  &__sublist-link {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    color: #06bab5;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #818494;
    &:hover {}
  }

  &__phone {
    font-size: 20px;
    line-height: 1.45;
    font-weight: 500;
    color: #111;
  }

  &__button-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  &__button {
    border-radius: 40px;
    align-self: center;
    height: 50px;
    padding: 12px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.45;
    text-align: center;
    color: #06bab5;
    border: 1px solid #06bab5;
    transition: all .3s;

    &:hover {
      border-color: #111;
      ;
      background-color: #111;
      color: #fff;
    }

  }

  &__search {
    background-image: url("../images/search.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;

  }
  &__escape {
    background-image: url("../images/escape.svg");
    width: 62px;
    height: 62px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__burger {
    background-image: url("../images/burger.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../images/burger-hv.svg");
    }

  }
  
  &__burger-menu { 
    position: absolute;
    z-index: 60;
    top: 0;
    left: 0;
    width: 100%;
    padding: 200px 0 50px;
    display: none;
    background: #e3e6f3;
    &_visible{
      display: block;
    }

  }
  &__burger-menu-inner{
    position: relative;
    display: grid;
    grid-template-columns: 245px 205px 350px 350px; 
    grid-template-rows: 1fr 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1150px;
  }

  &__left-menu-list {
    grid-column: 1/3;
  }
  &__left-menu-item {
    font-size: 23px;
    line-height: 2.6;
    font-weight: 500;
    color: #494d63;
  }
  &__menu-link {
    display: inline;
    &_attach{
      color: #06bab5;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/attach.svg");
        width: 8px;
        height: 13px;
        right: -16px;
        bottom: 6px;
      }
    }
  }
  &__right-menu-list {}
  &__right-menu-item {
    font-size: 23px;
    line-height: 2.6;
    font-weight: 400;
    color: #494d63;}

  &__burger-phone {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 30px;
    line-height: 1.7;
    font-weight: 500;
    color: #5b5f74;
    
  }
  &__burder-timework {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #5b5f74;
  }


  &__social-list {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
  }
  &__social-item {
    height: 40px;
    width: 40px;
    display: block;
  }
  &__social-link {
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: block;
    &_vk {    
      background-image: url("../images/vk.svg");
     }
    &_yt { 
      background-image: url("../images/yt.svg");
    }
    &_in { 
      background-image: url("../images/instagram.svg");
    }
    &_tg { 
      background-image: url("../images/tg.svg");
    }
  }
  
  
  &__address {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #747992;
  }

  &__burger-search {
    background-image: url("../images/search-wo-circle.svg");
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 50px;
    bottom: 64px;
  }


}

.footer {
  background-color: #222;
  &__inner {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 405px 256px 870px;
    grid-template-rows: 42px 141px 60px 69px 82px 96px 145px 55px 44px;
  }
  &__logo {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  &__phone {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
  }
  &__timework {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #8a8a8a;
  }
  &__address {  
    grid-column: 1/2;
    grid-row: 5/6;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #8a8a8a;
  }
  &__button {
    grid-column: 1/2;
    grid-row: 6/7;
    border-radius: 100px;
    padding: 14px 30px;
    width: 247px;
    height: 50px;
    background-color:#fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    color: #898989;
    &:hover {
      background-color: #111;
      color: #fff;
    }
   &_visit {}
  }
  &__social-list {  
    grid-column: 1/2;
    grid-row: 7/8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    padding-bottom: 34px;
  }
  &__social-item {
  }
  &__social-link {
    background-size: auto;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: center center;
    display: block;
    border-radius: 50%;
    background-color: #fff;

    &_vk {    
      background-image: url("../images/vk-bl.svg");
     }
    &_yt { 
      background-image: url("../images/yt-bl.svg");
    }
    &_in { 
      background-image: url("../images/instagram-bl.svg");
    }
    &_tg { 
      background-image: url("../images/tg-bl.svg");
    }
  }
  &__services{
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.7;
    color: #8a8a8a;
    position: relative;
    cursor: pointer;  
    &::after{
      content: "";
      display: none;
      position: absolute;
      right: 0;
      top: 28px;
      background-image: url("../images/chevron-white.svg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 9px;
      width: 16px;
    }

  }
  &__menu-services {
    grid-column: 3/4;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
  }
  &__list-item {
    width: 33%;
  }
  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 2.1;
    text-decoration: underline;
    color: #e2e2e2;
    text-decoration-skip-ink: none;
    &:hover {
      text-decoration: none;
    }
  }
  &__info{
    grid-column: 3/4;
    grid-row: 6/7;
    font-size: 20px;
    font-weight: 400;
    line-height: 6.2;
    color: #8a8a8a;
    position: relative;
    cursor: pointer;  
    &::after{
      content: "";
      display: none;
      position: absolute;
      right: 0;
      top: 28px;
      background-image: url("../images/chevron-white.svg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 9px;
      width: 16px;
    }
  }
  &__menu-info {
    grid-column: 3/4;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__copyright {
    grid-column: 1/2;
    grid-row: 9/10;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    color: #8a8a8a;
  }
  &__confidence {
    grid-column: 3/4;
    grid-row: 9/10;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    color: #8a8a8a;
  }
}

.slider {
  position: relative;
  background-color: #dde5e5;
  border-radius: 0 0 50px 50px;
  height: 770px;
  &__inner{
    height: 770px;
  }
  &__slide {
    position: relative;
    display: flex;
  }
  &__image {
    margin-left: -32px;
  }
  &__content {
    z-index: 20;
    position: relative;
    margin-top: 160px;
    width: 543px;
    height: 432px;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px;
  }
  &__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color:#111;
    margin-top: 34px;
  }
  &__text {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
    color:#818494;
    margin-top: 37px;
  }
  &__image{
    z-index: 2;
    position: absolute;
    bottom: -7px;
    right: 0;
  }
  &__button {
    position: absolute;
    bottom: 33px;
    left: 31px;
    border-radius: 40px;
    display: inline-block;
    text-align: start;
    height: 25px;
    width: 295px;
    padding: 15px 17px;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    transition: all .3s;  
    background-color: #06bab5;
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 21px;
      background-image: url("../images/btn-arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 12px;
      width: 28px;
    }
    &:hover {
      border-color: #111;      
      background-color: #111;
      color: #fff;
    }
  }
  &__pagination {
    & .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 1;
      &-active{        
        width: 10px;
        height: 10px;
      }
      & .swiper-pagination-horizontal{
        bottom: 8px;
      }
    }
  }
  &__whatsapp {
    z-index: 20;
    width: 60px;
    height: 60px;
    background-image: url(../images/whatsapp.svg);
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination {      
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}



.chevron {
  background-image: url("../images/chevron.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 6px;
  width: 9px;
  margin-top: 4px;
  display: block;
}

.chevron-white {
  background-image: url("../images/chevron-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 9px;
  width: 16px;
  margin-top: 4px;
  display: block;
}

@import 'media';