<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ветеринарная клиника КИТ</title>
   <link rel="icon" type="image/x-icon" href="/images/favicon.png">
   <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
   <header class="header">
      <div class="container">
         <div class="header__inner">
            <a class="logo header__logo" href="#">
               <picture>
                  <source media="(min-width: 768px)" srcset="images/logo.svg">
                  <img src="images/logo-sm.svg" alt="logo">
               </picture>
            </a>
            <ul class="header__menu">
               <li class="header__list-item">
                  <a class="header__link" href="#">
                     О компании <i class="chevron"></i>
                  </a>
                  <ul>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">О нас</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Правила клиники</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Новости</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Вакансии</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Отзывы</a>
                     </li>
                  </ul>
               </li>
               <li class="header__list-item">
                  <a class="header__link" href="#">
                     Наши услуги <i class="chevron"></i>
                  </a>
                  <ul>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Терапия</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Хирургия</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Эндоскопия</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Анестезиология</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">УЗИ</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Вакцинация</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Стоматология</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Кардиология</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Лаборатория</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Дерматология</a>
                     </li>
                     <li class="header__sublist-item">
                        <a class="header__sublist-link" href="#">Офтальмология</a>
                     </li>
                  </ul>
               </li>
               <li class="header__list-item">
                  <a class="header__link" href="#">Расписание</a>
               </li>
               <li class="header__list-item">
                  <a class="header__link" href="#">Специалисты</a>
               </li>
               <li class="header__list-item">
                  <a class="header__link" href="#">Контакты</a>
               </li>
            </ul>
            <a class="header__phone" href="tel:+7(495)123-45-67">
               +7 (495) 123-45-67
            </a>
            <div class="header__button-list">
               <a class="header__button header__button_ring" href="#">
                  Заказать звонок
               </a>
               <a class="header__button header__button_visit" href="#">
                  Запись на приём
               </a>
               <button class="header__search"></button>

               <button class="header__burger"></button>
               
            </div>
         </div>
      </div>
   </header>
   <div class="header__burger-menu">
      <div class="header__burger-menu-inner">
         <ul class="header__left-menu-list">
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  О клинике
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link header__link_attach" href="#">
                  Наши услуги
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Расписание
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Наши специалисты
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Цены
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Мы в СМИ
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Правила клиники
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Ветеренарная колонка
               </a>
            </li>
            <li class="header__left-menu-item">
               <a class="header__link" href="#">
                  Контакты
               </a>
            </li>
         </ul>
         <ul class="header__right-menu-list">
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Терапия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Хирургия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Эндоскопия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Анестезиология
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  УЗИ
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Вакцинация
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Кардиология
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Лаборатория
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Дерматология
               </a>
            </li>
         </ul>
         <ul class="header__right-menu-list">
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Репродуктология
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Неонаталогия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Нефрология
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Химиотерапия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Профилактика
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Общая хирургия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Эвтаназия
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Стационар
               </a>
            </li>
            <li class="header__right-menu-item">
               <a class="header__link" href="#">
                  Все услуги
               </a>
            </li>
         </ul>
         <a href="tel:+7(495)123-45-67" class="header__burger-phone">495 / 123-45-67</a>
         <p class="header__burder-timework">Режим работы:<br>Ежедневно: 09:00 - 21:00</p>
         <ul class="header__social-list">
            <li class="header__social-item">
               <a class="header__social-link header__social-link_vk" href="#"></a>
            </li>
            <li class="header__social-item">
               <a class="header__social-link header__social-link_yt" href="#"></a>
            </li>
            <li class="header__social-item">
               <a class="header__social-link header__social-link_in" href="#"></a>
            </li>
            <li class="header__social-item">
               <a class="header__social-link header__social-link_tg" href="#"></a>
            </li>
         </ul>
         <p class="header__address">141420, г.о. Химки, мкр.<br>Сходня, Больничный проезд, 1</p>
      </div>
      <button class="header__escape"></button>
      <button class="header__burger-search"></button>
   </div>